.banner{
    width: 100%;
    height: 125px;
}

header{
    border: 3px solid  rgb(255, 255, 255);
    border-radius: 10px;
    background-image: url(https://media.istockphoto.com/id/1088991402/es/foto/fondo-suave-gradiente-azul.jpg?s=612x612&w=0&k=20&c=8NbHc5ehnd56o4kq3-Ql_7_JcRFpbtyOJcFGm9GXokU=);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color:white;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

body{
    background-color: rgb(32, 32, 32);
}

.right{
    float: left;
    width: 70%;
}

.left{
    float: left;
    width: 30%;
}

.entrada{
    float: left;
    width: 100%;
    height: auto;
    display: block;
}

.texto-entrada{
    float: left;
    width: 80%;
    height: 350px;
    margin: 5%;
    margin-left: 8%;
    background-color: #ebebeb;
    border-radius: 10px;
    text-transform: lowercase;
    font-size: 1.5em;
    resize: none;
}

#sujeto{
    width: 70%;
    height: 90%;
    margin-left: 15%;
}

#texto2{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 1.3em;
    color: white;
}

.salida{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    display: block;
}

.texto-salida{
    float: left;
    width: 70%;
    height: 150px;
    margin: 15%;
    margin-top: 7%;
    background-color: #cccccc;
    border-radius: 10px;
    resize: none;
    font-size: 1.5em;
}

.botones{
    float: left;
    width: 100%;
    height: auto;
}

.rule{
    font-weight: bold;
    margin: 2%;
    margin-left: 8%;
    margin-top: 1%;
    font-size: 1.3em;
    color: white;
}

#cifr{
    padding: 5px;
    font-size: 16px;
    width: 155px;
    height: 40px;
    border-color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(36, 32, 32);
    color: #cccccc;
    margin-left: 25%;
}

#desc{
    padding: 5px;
    font-size: 16px;
    width: 155px;
    height: 40px;
    border-color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(65, 65, 65);
    color: #cccccc;
    margin-left: 5%;
}

#cifr:hover{
    transform: scale(1.1);
    border: 3px solid rgb(0, 151, 221);
    transition: 650ms;
}

#desc:hover{
    transform: scale(1.1);
    border: 3px solid rgb(0, 151, 221);
    transition: 650ms;
}

#copiar{
    float: left;
    font-size: 18px;
    width: 155px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: #6e6e6e;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: none;
    margin-left: 23%;
    margin-bottom: 5%;
}

#copiar:hover{
    transform: scale(1.1);
    border: 3px solid rgb(0, 151, 221);
    transition: 650ms;
}